


{% extends 'base.html.twig' %}

{% block title %}Donner le motif d'annulation{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Motif d'annulation</h1>

        {% for label, messages in app.flashes %}
            {% for message in messages %} <div class="alert-{{ label }}"> {{ message }}
            </div>
            {% endfor %}
        {% endfor %}

        <form method="POST" action="{{ path('app_event_confirm_cancellation', {'id': event.id}) }}">
            {{ form_start(cancelForm) }}

            {{ form_row(cancelForm.ReasonCancellation) }}

            <button type="submit" class="btn btn-primary">Enregistrer</button>

            {{ form_end(cancelForm) }}
        </form>

        <form method="post" action="{{ path('app_event_delete', {'id': event.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir annuler cette sortie ?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
            <button class="btn">Delete</button>
        </form>

    </div>
{% endblock %}