{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
<h1 style="text-align: center; padding-top: 5px;">Idées de sorties</h1>



{#    mc: mettre ça à gauche#}
    <div class="container">
    <div class="text-padding text-right">
        Date du jour : {{ "now"|date("d/m/Y") }}
    </div>
    <div class="text-padding text-right">
        Participant : {{ app.user.username }}
    </div>
    </div>

    {% for label, messages in app.flashes %}
        {% for message in messages %} <div class="alert-{{ label }}"> {{ message }}
        </div>
        {% endfor %}
    {% endfor %}

<div class="container">
    <h6>Filtrer les sorties</h6>
{#    <h7>Campus</h7>#}
{#    <div class="text-left">#}
{#    Le nom de la sortie contient#}
{#    </div>#}

{#    MC : j'ai créé ici des filtres :#}
    <div class="container-fluid">
        {{ form_start(filterForm) }}
{#        {{ form_widget(filterForm }}#}
        {{ form_row(filterForm.schoolsite, {'attr': {'style': 'width: 120px;'}}) }}

        <div class="date-input-wrapper">
            <div class="date-input">
                {{ form_label(filterForm.min_date) }}
                {{ form_widget(filterForm.min_date, {'attr': {'style': 'width: 120px;'}}) }}
            </div>
            <div class="date-input">
                {{ form_label(filterForm.max_date) }}
                {{ form_widget(filterForm.max_date, {'attr': {'style': 'width: 120px;'}}) }}
            </div>

        </div>
        <br>


        {{ form_row(filterForm.eventorgenazedby) }}

        {{ form_row(filterForm.submit) }}
        {{ form_end(filterForm) }}
    </div>

    <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Rechercher">
        <button class="btn btn-info my-2 my-sm-0" type="submit">Rechercher</button>
    </form>

</div>




    {#    <form method="GET">#}
{#        {{ form_start(form) }}#}

{#        {{ form_row(form.campus) }}#}

{#        <button type="submit">Filtrer par campus</button>#}

{#        {{ form_end(form) }}#}
{#    </form>#}

    {# Créez un formulaire ou une liste déroulante pour sélectionner le campus #}
{#    <form method="GET">#}
{#        <label for="campus">Filtrer les sorties :</label>#}
{#        <select name="campus" id="campus">#}
{#            <option value="">Tous les campus</option>#}
{#            {% for campus in campus %}#}
{#                <option value="{{ campus.id }}">{{ campus.name }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{#        <button type="submit">Filtrer</button>#}
{#    </form>#}

<div class="container">

    <table class="table">
        <thead>
            <tr>
{#                <th>Id</th>#}
{#                <th>IdEvent</th>#}
                <th>Intitulé</th>
                <th>Début de l'évènement</th>
                <th>Durée</th>
                <th>Date limite d'inscription</th>
                <th>Nombre max de participants</th>
                <th>Organisateur</th>
                <th>Infos</th>
{#                <th>ReasonCancellation</th>#}
{#
                <th>actions</th>
#}


                <th>campus</th>
                <th>Lieu</th>
                <th>État</th>

            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
{#                <td>{{ event.id }}</td>#}
{#                <td>{{ event.idEvent }}</td>#}
                <td>{{ event.name }}</td>
                <td>{{ event.dateHourStart ? event.dateHourStart|date('Y-m-d H:i:s T') : '' }}</td>
                <td>{{ event.duration ? event.duration|date('H:i:s') : '' }}</td>
                <td>{{ event.dateLimitInscription ? event.dateLimitInscription|date('Y-m-d') : '' }}</td>
                <td>{{ event.NbInscriptionsMax }}</td>
{#     Nos nombreux essais :           <td>{{ event.Eventorgenazedby }} <a href="{{ path('app_event_show', {'id': event.eventOrganizedBy.id}) }}"></a>#}
{#                <td><a href="{{ path('app_event_new', {'id': event.eventorgenazedby}) }}"></a>#}
{#                <td> {{ event.eventorgenazedby.username }}</td>#}
{#                <td>{{ event.eventOrganizedBy ? event.eventOrganizedBy.username : 'N/A' }}</td>#}
{#                <td> {{ app.user.username }}</td>#}
{#                <td> {{ event.eventorgenazedby }}</td>#}

                {% if event.eventorgenazedby is not null %}
                    <td>{{ event.eventorgenazedby.email }}</td>
                {% else %}
                    <td>Organisé par l'école Eni</td>
                {% endif %}


                <td>{{ event.infosEvent }}</td>
{#                <td>{{ event.ReasonCancellation }} </td>#}
{#                <td>{{ event.Schoolsite }}</td>#}

                {% if event.Schoolsite is not null %}
                    <td>{{ event.Schoolsite.name }}</td>
                {% else %}
                    <td>A définir</td>
                {% endif %}
{#                <td>{{ event.locationevent }}</td>#}


                {% if event.locationevent is not null %}
                    <td>{{ event.locationevent.name }}</td>
                {% else %}
                    <td>A définir</td>
                {% endif %}

                {% if event.eventstate is not null %}
                    <td>{{ event.eventstate.label }}</td>
                {% else %}
                    <td>Pas encore publié</td>
                {% endif %}

            </tr>

{#                <td>#}
{#                   MC: test 1 la modification ne devrait être accessibles qu'à l'organisateur qui a créé une sortie#}
{#                    {% if app.user %}#}
{#                        <a href="{{ path('app_event_show', {'id': event.id}) }}">En savoir plus...</a>#}
{#                        <a href="{{ path('app_event_edit', {'id': event.id}) }}">Modifier</a>#}
{#                    {% else %}#}
{#                        <a href="{{ path('app_event_show', {'id': event.id}) }}">En savoir plus</a>#}
{#                    {% endif %}#}
{#                </td>#}
{#            </tr>#}
{#            #}
{#        {% else %}#}
            <tr>
            <td>
{#       MC : la modification ne devrait être accessibles qu'à l'organisateur qui a créé une sortie         #}
            {% if app.user and event.eventorgenazedby == app.user %}
                <a href="{{ path('app_event_show', {'id': event.id}) }}">• En savoir plus...</a>
                <a href="{{ path('app_event_edit', {'id': event.id}) }}">• Modifier</a>
            {% else %}
                <a href="{{ path('app_event_show', {'id': event.id}) }}">• En savoir plus</a>
                <a href="{{ path('app_subscription', {'eventId': event.id}) }}">• S'inscrire</a>
                {#  creer un if pour supprimer le bouton se desinscrire si on n'est pas inscrit #}
                <a href="{{ path('app_unsubscription', {'eventId': event.id}) }}">• Se désinscrire</a>
            {% endif %}
            </td>
            </tr>


            <tr>
                <td colspan="10">--</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

</div>

    <div class="container">
    <a href="{{ path('app_event_new') }}" class="custom-link" >Créer une sortie</a>
    </div>
    <br>

{% endblock %}
