{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1 class="text-center">détail de la sortie : {{ event.name }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %} <div class="alert-{{ label }}"> {{ message |raw }}
        </div>
        {% endfor %}
    {% endfor %}

    <table class="table">
        <tbody>
{#            <tr>#}
{#                <th>Id</th>#}
{#                <td>{{ event.id }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <th>IdEvent</th>#}
{#                <td>{{ event.idEvent }}</td>#}
{#            </tr>#}
            <tr>
                <th>Intitulé</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>Date et heure d'inscription</th>
                <td>{{ event.dateHourStart ? event.dateHourStart|date('Y-m-d H:i:s T') : '' }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ event.duration ? event.duration|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription</th>
                <td>{{ event.dateLimitInscription ? event.dateLimitInscription|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre maximum d'inscrits</th>
                <td>{{ event.NbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th>Informations complémentaires</th>
                <td>{{ event.infosEvent }}</td>
            </tr>
{#            <tr>#}
{#                <th>ReasonCancellation</th>#}
{#                <td>{{ event.ReasonCancellation }}</td>#}
{#            </tr>#}
            <tr>
                <th>Campus</th>
                <td>{{ event.schoolsite }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ event.locationevent }}</td>
            </tr>
            <tr>

                <th>Nom des inscrits</th>
                {% if event.userregistred is not null %}
                    <td>
{#                        je compte mon nombre d'inscrit#}
                        {% if event.userregistred.count() > 0 %}
                            {% for user in event.userregistred %}
                                {{ user.email }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            --non communiqué--
                        {% endif %}
                    </td>
                {% else %}
                    <td>--Pas d'inscrits--</td>
                {% endif %}



        </tbody>
    </table>


    <div class="container-fluid" id="navbarNav">
        <ul class="navbar-nav mx-auto">
    {% if app.user and event.eventorgenazedby == app.user %}
        
            <li><a class="btn btn-info" href="{{ path('app_event_edit', {'id': event.id}) }}">Modifier</a></li>
                {{ include('event/_delete_form.html.twig') }}
    {% else %}

            <li><a class="btn btn-info" href="{{ path('app_event_index') }}">Retour aux sorties</a></li>

    {% endif %}
        </ul>
    </div>
    {% endblock %}

