<nav class="navbar navbar-expand-lg navbar-light bg" data-bs-theme="dark">
    <div class="container-fluid">
        <!-- Bouton "Accueil" et logo à gauche -->
        <a class="navbar-brand ml-auto" href="{{ path('app_home') }}">
            <img src="{{ asset('image/logo.crabe.svg') }}" width="150" height="150" alt="">
        </a>

        <!-- Boutons du milieu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="btn btn-warning my-4 my-sm-0" href="{{ path('app_show_profile') }}">Gérer mon profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-warning my-4 my-sm-0" href="{{ path('app_event_new') }}">Créer une sortie</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-warning my-4 my-sm-0" href="{{ path('app_event_index') }}">Liste des sorties</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                  <div class="dropdown">
                        <button class="btn btn-danger  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        administration
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                        <a class="btn btn-warning" href="{{ path('app_register') }}">Inscrire un élève</a>
                    </li>
                        <li>
                            <a class="btn btn-warning " href="{{ path('app_admin_ville') }}">gestion ville et campus</a>
                        </li>
                        <li>
                            <a class="btn btn-warning" href="#">gestion evenement</a>
                        </li>
                        </ul>
                    </div>

                {% endif %}
            </ul>
        </div>

        <!-- Bouton "Se déconnecter" à droite -->

            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="btn btn-danger my-2 my-sm-0" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="btn btn-info my-4 my-sm-0" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                {% endif %}
            </ul>
        
    </div>
</nav>

