<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_home') }}">
                        <span class="visually-hidden"></span>
                    </a>
                </li>
            {# MC: la bouton se deconnecter n'est visible que si on est connecte#}
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_show_profile') }}">Gérer mon profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_event_new') }}">Ajouter un nouvel évènement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_event_index') }}">Liste des sorties</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                {% endif %}

{#        MC: tentatuve pour ajouter les role
{% if is_granted("ROLE_ADMIN") %}#}

{# MC:je cache ça pour qu'on s'y retrouve

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_user_new') }}">Créer son compte</a>
                </li>

#}

                {# MC: app_register sera uniquement visible par l'admin quand on aura géré les droits... #}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">Inscrire un élève</a>
                </li>


            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>


